body{
	background-color: azure;
	display: inline;

}

h1{
	font-family: Verdana;
	color: #191970;
}

h2{
    font-family: Verdana;
	color: #191970;
	text-align: center;
}
li {
	font-family: 'Fira Sans', sans-serif;
	list-style-type: none;
}

form{
	margin: 0 auto;
}
#email,
#phone,
#firstname,
#lastname {
  margin-bottom: 20px;
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}



